# <center><font color="red"> https://bit.ly/ptpjb-2021-01</font>
# <center><font color="blue">02 - Pengenalan Python dan Jupyter Notebook</font>

<center><img alt="" src="images/cover_ptpjb_2021.png"/></center> 

## <center><font color="blue">tau-data Indonesia</font><br>(C) Taufik Sutanto - 2020</center>
<center><a href="https://tau-data.id">https://tau-data.id</a> ~ <a href="mailto:taufik@tau-data.id">taufik@tau-data.id</a></center>

# <center><font color="blue"> Outline </font>

- Pengenalan Jupyter Notebook - Google Colaboratory & Python
- Basic Syntax Pyton: indent, print, input, ;
- Tuple, List, Set, Dictionary
- if, for, while, Try-Except
- DateTime

<img src = "images/pyhton_jupyter.png" />

## Sejarah Python

Python (versi 0.9) diperkenalkan pertama kali pada February 1991 oleh Guido van Rossum. Sedangkan Python versi 2.0 diperkenalkan pada October 2000 dan mendapat response positif dari komunitas developer. Python 2 cukup populer di berbagai Distro Linux dan website, dan baru saja mengakhiri “masa bakti”-nya di Juli 2020. Python 3 diperkenalkan mulai Desember 2008 dan hingga saat tulisan ini dibuat menjadi versi terkini Python. Gambar 3 mengilustrasikan sejarah python dari waktu ke waktu.

## Apakah Jupyter Notebook Hanya Untuk Python?
Tidak. Walaupun Jupyter notebook ditulis dalam bahasa Python, namun kemampuan untuk mendukung suatu bahasa pemrograman di dalam notebook diimplementasikan secara modular dalam bentuk kernel. Saat ini ada lebih dari 130 kernel yang mendukung hampir 100 bahasa pemrograman misalnya:
- C++
- Java
- Matlab
- PHP
- R
- SQL

Untuk daftar lengkapnya silakan lihat laman https://github.com/jupyter/jupyter/wiki/Jupyter-kernels

### Syntax Python

In [1]:
# ini membuat catatan satu baris

In [2]:
"""
ini untuk membuat catatan lebih dari satu baris
----
----
"""

'\nini untuk membuat catatan lebih dari satu baris\n----\n----\n'

In [3]:
# python (seperti matlab) tidak memerlukan deklarasi variabel
A = 3
B = 2.5
A,B

(3, 2.5)

In [4]:
# print ini selalu diakhiri dengan ganti baris
print(A)
print(B)

3
2.5

In [5]:
# bisa dengan menambahkan parameter dengan dipisahkan tanda koma atau 2 garis (--)
print(A, end = ', ')
print(B)

3, 2.5

In [6]:
# untuk mengetahui type variabel itu apa dengan menggunakan perintah "type"

type(A)

int

In [7]:
type(B)

float

In [8]:
C = True
type(C)

bool

In [9]:
# Python menggunakan "indenting" dan bukan tanda kurung seperti banyak bahasa pemrograman lain
# indent dinyatakan dengan 1x "tab" atau 4x "spasi" atau dari titik 2 (:) bisa langsung dienter
if (A>0): # karena A = 3 jadi betul 3>0 
    print("ini python")
    print("ini betul")
print("ini sudah diluar if")

ini python
ini betul
ini sudah diluar if

In [10]:
if (A>10):
    print("ini python")
    print("ini betul")
print("ini sudah diluar if")

ini sudah diluar if

In [11]:
# string di python bisa menggunakan ' atau "
print('Hello World')
print("Hello World")
print("Hello 'World'")
print("Hello \"World\"")

Hello World
Hello World
Hello 'World'
Hello "World"

In [12]:
# di python tidak mengenal sin, cos, misal:
cos(0)

NameError: name 'cos' is not defined

In [13]:
import math

math.cos(0)

1.0

In [14]:
import math as M

M.cos(0)

1.0

In [15]:
# bisa juga dengan import hanya satu fungsi saja

from math import cos

cos(0)

1.0

In [16]:
"""
hati-hati jangan "juggling variable" dalam bahasa pemrograman, karena tidak disarankan di data science
"juggling variable" adalah perubahan variabel ditengah code
"juggling variable" ini tidak efisien secara management memory nya
"""
r = 6
print(type(r)) #ini awalnya integer
r = r/2
r, type(r) #tapi setelah dibagi 2 jadi float

<class 'int'>

(3.0, float)

In [17]:
# bagaimana cara agar tidak "juggling variable"
r = 6.0  # ditulis dari awal float
print(type(r))
r = r/2
r, type(r)

<class 'float'>

(3.0, float)

In [18]:
# "Array" dasar di Python bisa berupa List, Tuple, Set atau Dictionary

#List
L = [1,5,7,2]
L[0] # index nya dari 0

1

In [19]:
L[-1] # element terakhir

2

In [20]:
#bisa dengan memotong suatu list
L[:2]

[1, 5]

In [21]:
# memotong list diambil dari 2 elemen terakhir
L[-2:]

[7, 2]

In [22]:
# memotong list mulai dari index ke 1 sampai elemen ke 3
L[1:3]

[5, 7]

In [23]:
# di list juga bisa merubah nilai
L[0] = 21
L

[21, 5, 7, 2]

In [24]:
# Tuple

T = (20, 45, 74)
T[-1] # indexing di python tetep pake kurung siku

74

In [25]:
T[:3]

(20, 45, 74)

In [26]:
"""
bedanya tuple dengan list apa?
tuple ini imutable (nilainya tidak bisa diubah) atau nilai nya konstan
tuple ini lebih cepat dan menggunakan memory juga lebih sedikit
tuple biasanya digunakan untuk nilai konstan, untuk nilai yang tidak berubah 
sedangkan list untuk nilainya ada kemungkinan berubah
"""
T[0] = 100

TypeError: 'tuple' object does not support item assignment

In [27]:
L = [49,30,63]
T = (20, 45, 74)
L.sort() #mengurutkan nilai terkecil ke terbesar
L

[30, 49, 63]

In [28]:
#kita coba di tuple akan error
T.sort()
T

AttributeError: 'tuple' object has no attribute 'sort'

In [29]:
#list mirip seperti array tapi bukan array, list ini bisa diisi apa saja
L = [1.5, True, 2, (10,5), "hello"]
L

[1.5, True, 2, (10, 5), 'hello']

In [30]:
"""
array di bahasa pemrograman jika ditetapkan panjangnya 30 maka akan selalu 30
tapi kalau list bisa ditambahkan misal

"""
L = [1, 10, 7, 15]
L.append(33)
L

[1, 10, 7, 15, 33]

In [31]:
# di extend dengan list lain
L.extend([23, 44, 55, 60])
L

[1, 10, 7, 15, 33, 23, 44, 55, 60]

In [32]:
G = [1, 10, 7, 15]
H = [3, 4, 5]
G + H #list tidak menjalankan operasi sebagaimana operasi vektor tapi sebagai operasi extend nya

[1, 10, 7, 15, 3, 4, 5]

In [33]:
# untuk membuang element terakhir
L = [1, 10, 7, 15]
L.pop()
L

[1, 10, 7]

In [34]:
# menghapus suatu variabel

L = [1, 10, 7, 15]
del L #ini akan error karena L sudah dihapus dari memory
L

NameError: name 'L' is not defined

In [35]:
L = [1, 10, 7, 15]
del L[1]
L

[1, 7, 15]

In [36]:
# Set (himpunan)

H = {3, 6, 17, 21}
H

{3, 6, 17, 21}

In [37]:
"""
apa bedanya dengan list dan tuple?
kalau di set (himpunan) yang nilainya sama dihitung satu aja
"""

H = {3, 6, 3, 17, 21, 3}
H

{3, 6, 17, 21}

In [38]:
# di set (himpunan) tidak memiliki index

H[0]

TypeError: 'set' object is not subscriptable

In [39]:
# di himpunan biasanya digunakan untuk mengecek apakah suatu nilai ada di himpunan atau tidak

filter_ = {3, 6, 3, 17, 21, 3}

7 in filter_

False

In [40]:
# di set bisa menambahkan elemen dengan perintah add
H = {3, 6, 40, 3, 17, 21, 3}
H.add(8)
H

{3, 6, 8, 17, 21, 40}

In [41]:
H = {22, 33}
print(type(H))
G = {} # hati-hati hasil G ini dictionary
type(G)

<class 'set'>

dict

In [42]:
# Dictionary di Python
# mirip seperti list tapi index nya terserah kita

D = {'a':1, 'e':5, 'b':2}
D

{'a': 1, 'e': 5, 'b': 2}

In [43]:
"""
dictionary seperti list yang isinya 1, 5, 2
kalau di list tadi index nya 0, 1, 2, dst
kalau di dictionary index nya bebas terserah kita

'a', 'e', 'b' disebut key
1, 2, 3 disebut values
"""
D = {'a':1, 'e':5, 'b':2}
D['b']

2

In [44]:
# tapi hati-hati kalau memanggil sesuatu yang tidak ada di himpunan key nya, maka akan error

D['c']

KeyError: 'c'

## Pendahuluan Logika Percabangan (Conditional Statement) - IF ELSE

- Bentuk umumnya: IF (kondisi) MAKA (tindakan)
- Syarat utamanya adalah "kondisi/syarat" harus bernilai Boolean (True/False). sedangkan tindakan bisa apa saja

In [46]:
x = input('Masukkan nilai x = ') # hati-hati input di python selalu di definisikan sebagai string/character
if int(x)<0:
    print('x negatif')
else:
    print('x bukan negatif')

Masukkan nilai x = -3
x negatif

In [47]:
#input di python selalu di definisikan sebagai string/character, misal
a = input('x = ')
a # nanti ada kutip satunya

x = 12

'12'

In [48]:
type(a)

str

In [49]:
# di python kalau ingin mengkonversi suatu variabel tinggal disebut saja, misal ingin diubah ke integer
a = int(input('x = '))
a

x = 12

12

In [50]:
a = int(input('x = '))

if a>0:
    print('a bilangan positif')
elif a==0:
    print('a = 0')
else:
    print('a bilangan negatif')

x = -2
a bilangan negatif

In [51]:
# tapi jika a nya kita input dengan huruf, maka akan error
a = int(input('x = '))

if a>0:
    print('a bilangan positif')
elif a==0:
    print('a = 0')
else:
    print('a bilangan negatif')

x = 15
a bilangan positif

In [52]:
A = True
B = False

not A # not ini adalah negasi

False

In [53]:
A and B

False

In [54]:
A and not B

True

In [55]:
# and juga bisa ditulis dengan simbol (&)
A & B

False

In [56]:
A or B

True

In [57]:
# or juga bisa ditulis dengan simbol (|)
A | B

True

In [58]:
# di python juga ada simbol tanda seru (!) yang menyatakan tidak
# jadi kalau di logika matematika ditulisnya simbol (==), kalau (=) pedefinisian suatu variabel

2!=3, 4/2==2

(True, True)

## Hati-hati Boolean Trap di Python

In [59]:
a = True
if a:
    print('Benar')
else:
    print('Salah')

Benar

In [60]:
a = False
if a:
    print('Benar')
else:
    print('Salah')

Salah

In [61]:
a = 1
if a:
    print('Benar')
else:
    print('Salah')

Benar

In [62]:
a = 0
if a:
    print('Benar')
else:
    print('Salah')

Salah

## Exceptions (Try-Except)

- begitu mudah digunakan di python
- ini penting kalau error nya tidak ketangkep kemudian sistem nya down dan tidak bisa dipakai

In [64]:
try:
    n = int(input("Masukkan angka = "))
    print('Terima Kasih')
except:
    print('yang anda masukkan bukan angka')

Masukkan angka = x
yang anda masukkan bukan angka

In [65]:
# Catch the Error
try:
    n = int(input("Masukkan angka = "))
    print('Terima Kasih')
except Exception as err_:
    print('Error : ', err_)

Masukkan angka = rst
Error :  invalid literal for int() with base 10: 'rst'

In [66]:
# misal tidak memakai try-except
#membuat kesalahan (error) dengan tidak memasukkan angka print terima kasihnya tidak dijalankan maka programnya akan berhenti

n = int(input("Masukkan angka = "))
print('Terima Kasih')

Masukkan angka = rst

ValueError: invalid literal for int() with base 10: 'rst'

In [67]:
try:
    n = int(input("Masukkan angka = "))
    print('Terima Kasih')
except Exception as err_:
    print('Error : ', err_)

print('ini diluar try-except')

Masukkan angka = rst
Error :  invalid literal for int() with base 10: 'rst'
ini diluar try-except

## Loop di Python

In [68]:
# tidak ada outputnya (hanya range 0 sampai 5)
range(5)

range(0, 5)

In [69]:
# kalau ingin tau isi bilangannya
list(range(5))

[0, 1, 2, 3, 4]

In [70]:
# bisa di outputkan satu-satu

for i in range(5):
    print(i)

0
1
2
3
4

In [71]:
# kalau tidak ingin jadi baris
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [72]:
# range boleh menggunakan "STEP"
# Bentuk umumnya range(START, END, STEP)
list(range(2,10,2))

[2, 4, 6, 8]

In [73]:
# Sehingga loop diatas di python adalah
SUM = 0
for i in range(1,10):
    SUM = SUM + i
SUM

45

In [74]:
#bisa juga seperti ini
SUM = 0
for i in range(1,10):
    SUM += i
SUM

45

In [79]:
# bisa juga dengan
sum(range(1,10))

45

In [80]:
# di python loop boleh dari suatu list/array
buah = ['anggur', 'durian', 'apel', 'sawo']

for a in buah:
    print(a)

anggur
durian
apel
sawo

misal kita mengolah data tidak terstruktur (data media social) misal 10000 user, berarti
for user in data -->lalu setiap user nya mau kita apain misalkan di gambar dalam sebuah graf atau sebagainya.
jadi di python indexnya tidak dibutuhkan

In [81]:
# kalau butuh indeksnya bagaimana?
buah = ['anggur', 'durian', 'apel', 'sawo']

for i, a in enumerate(buah):
    print(i,a)

0 anggur
1 durian
2 apel
3 sawo

In [83]:
# bagaimana mentranform suatu data
A = [99,89,79,69,59,49,40,30,20,10, -1]
B = [] # inisialisasi engan array (list) kosong
for datum in A:
    B.append(1/datum)
print(A)
print(B)

[99, 89, 79, 69, 59, 49, 40, 30, 20, 10, -1]
[0.010101010101010102, 0.011235955056179775, 0.012658227848101266, 0.014492753623188406, 0.01694915254237288, 0.02040816326530612, 0.025, 0.03333333333333333, 0.05, 0.1, -1.0]

In [85]:
#cara ke-2 lumayan baik
A = [99,89,79,69,59,49,40,30,20,10, -1]
N = len(A)
for i in range(N):
    A[i] = 1/A[i]
print(A)

[0.010101010101010102, 0.011235955056179775, 0.012658227848101266, 0.014492753623188406, 0.01694915254237288, 0.02040816326530612, 0.025, 0.03333333333333333, 0.05, 0.1, -1.0]

In [86]:
#cara yang bagus
A = [99,89,79,69,59,49,40,30,20,10, -1]
for i, a in enumerate(A):
    A[i] = 1/a
print(A)

[0.010101010101010102, 0.011235955056179775, 0.012658227848101266, 0.014492753623188406, 0.01694915254237288, 0.02040816326530612, 0.025, 0.03333333333333333, 0.05, 0.1, -1.0]

In [87]:
#bisa juga
A = [99,89,79,69,59,49,40,30,20,10, -1]
A = [1/x for x in A]

print(A)

[0.010101010101010102, 0.011235955056179775, 0.012658227848101266, 0.014492753623188406, 0.01694915254237288, 0.02040816326530612, 0.025, 0.03333333333333333, 0.05, 0.1, -1.0]

## Loop - While

- while loop digunakan untuk mengulang-ulang sesuatu (tapi tidak begitu tau mengulangnya berapa kali), kalau "for" tau mengulangnya berapa kali

In [88]:
# contoh sederhana
n = 7
while n > 0:
    print(n, end = ', ')
    n = n-1

7, 6, 5, 4, 3, 2, 1,

- for di bahasa pemrograman apapun lebih cepat daripada while
- while ini lambat karena ada pengecekan stopper nya (kapan dia berhenti)

## Bentuk Umum Print Function
- print(value1, value2, value3, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
- value = any Python data type
- Reference: https://docs.python.org/3/library/functions.html#print

In [90]:
# OLD Python method
nK = 7
aK = 89.234532
dt = 'klasifikasi Kanker'
print("Banyaknya kategori = %d\n dengan akurasi = %.3f\tData = '%s'" %(nK,aK,dt))

# \n ==> ganti baris .... \t = Tabulasi
# hati-hati sebelum "%(" hanya spasi (bukan koma atau titik)
# %d = digit = integer
# %f = float ... .XYZf ===> banyak digit di belakang koma = xyz
# %s = string

Banyaknya kategori = 7
 dengan akurasi = 89.235	Data = 'klasifikasi Kanker'

In [91]:
# Syntax python terbaru
nK = 7
aK = 89.234532
dt = 'klasifikasi Kanker'
print("Banyaknya kategori = {}\n dengan akurasi = {}\tData = '{}'".format(nK,aK,dt))
# perintah ".format()" pemisahnya titik

Banyaknya kategori = 7
 dengan akurasi = 89.234532	Data = 'klasifikasi Kanker'

In [92]:
# Cara memformat Floating point dengan syntax baru ini
print("Banyaknya kategori = {}\n dengan akurasi = {:.2f}\nData = '{}'".format(nK,aK,dt))
# Hati-hati agak beda dengan syntax lama untuk float ... sekarang ada tanda ":"

Banyaknya kategori = 7
 dengan akurasi = 89.23
Data = 'klasifikasi Kanker'

In [93]:
# Bisa Juga tidak terurut
a, b, c = 3, 4.5, 'xyz' # new way of initialization
print('c={2} lalu a={0}, kemudian b={1}'.format(a,b,c))

c=xyz lalu a=3, kemudian b=4.5

In [94]:
#bisa juga dengan (:)
# Di Python print function kita juga bisa menspesifikasi bagaimana antar variabel dipisahkan
print(a,b,c,sep=':')

3:4.5:xyz

## Print to File in Python

In [95]:
f = open("Output_Python.txt","w") # W = write new file, a='append existing file, new file if file does not exist'
print("ini output pertama", file=f)
f.close() # kalau tidak di close, maka bagaikan file Doc yg sedang dibuka microsoft word
# lihat di folder "notebook" akan ada file baru dengan nama file yg ditetapkan diatas
# Perhatikan perintah ini tidak mengeluarkan output langsung di notebook/terminal (silenced)

In [96]:
f = open("Output_Python.txt","w") # W = write new file, a='append existing file, new file if file does not exist'
print("ini output pertama lagi karena opennya pakai 'w'", file=f)
f.close()

In [97]:
f = open("Output_Python.txt","a") # W = write new file, a='append existing file, new file if file does not exist'
print("ini baru output kedua karena opennya pakai 'a'", file=f)
f.close() 
# Jangan lupa utk mengingat "print" by default akan ganti baris, sehingga di akhir setiap print tidak perlu penambahan "\n"

Bagaimana cara menulis file CSV?
- CSV sebenarnya hanya file teks yg dipisahkan dengan koma
- TAPI hindari menulis ke file CSV dengan cara print diatas
kenapa?

In [98]:
A = [2,3,4,5,6]
print(str(A)[1:-1])

2, 3, 4, 5, 6

In [99]:
Data = [ (2,56), (1,32), (5,40), (1,37), (4,40) ]

f = open("Output_Python.csv","w") 
print('Jumlah Anak, Umur', file=f)
for d in Data:
    print(str(d)[1:-1], file=f)
f.close()

In [101]:
Data = [ ('@udin32','keren banget konsernya cuy!'), ('@kiraAlways','dia bilang "sa bodo", gitu katanya!'), ('@rina23','capek deeehhh...')]

f = open("Output_Python.csv","w") 
print('username, Tweet', file=f)
for d in Data:
    print(str(d)[1:-1], file=f)
f.close()

#### Solusi

In [102]:
!pip install csv

Collecting csv

  Could not find a version that satisfies the requirement csv (from versions: )
No matching distribution found for csv

In [103]:
import csv

f = open("Output_Python.csv","w", newline='') # encoding='utf-8'
f.write('Username, Tweet\n')
writer = csv.writer(f)
for d in Data:
    writer.writerow(d)
f.close()

## Pointer to Reference

In [104]:
# Hati-hati dengan copy of reference (Pointer to Variabel) yg implisit di Python
A =[2,3,4]
B = A
A.append(7) # Kita tidak melakukan apa-apa ke B
print('A = ', A)
print('B = ', B)

A =  [2, 3, 4, 7]
B =  [2, 3, 4, 7]

In [105]:
A =[2,3,4]
B = A.copy() # ini yang mirip dgn bahasa pemrograman lain B=A
A.append(7)
print('A = ', A)
print('B = ', B)

A =  [2, 3, 4, 7]
B =  [2, 3, 4]

## Zipping Lists dalam data science

In [107]:
A = ['Minggu','Senin','Jumat']
B = ['Libur', 'Kerja', 'Kerja tapi ingin Libur']

for a,b in zip(A,B):
    print('{} {}'.format(a,b))

Minggu Libur
Senin Kerja
Jumat Kerja tapi ingin Libur

In [108]:
# misalkan A nya ditambahkan 1 elemen, dan B nya tetap 3 elemen
A = ['Minggu','Senin','Jumat', 'Selasa']
B = ['Libur', 'Kerja', 'Kerja tapi ingin Libur']

for a,b in zip(A,B):
    print('{} {}'.format(a,b))

Minggu Libur
Senin Kerja
Jumat Kerja tapi ingin Libur

## DS sering memuat data dengan informasi waktu
Media Sosial, log, artikel website, sensor, etc

In [109]:
# Variabel Date-Time
from datetime import datetime
# %a %b %d %l %m %M %z %Y https://www.foragoodstrftime.com/
d1 = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
d2 = datetime.strptime('Jun 1 2004  1:33PM', '%b %d %Y %I:%M%p')
print(d1.day, d2.month, d1>d2)

1 6 True

In [110]:
# Rubah Teks ke DateTime Format 
from datetime import datetime
# %a %b %d %l %m %M %z %Y https://www.foragoodstrftime.com/
d1 = datetime.strptime('Apr 28 2021  1:33PM', '%b %d %Y %I:%M%p')
d2 = datetime.strptime('Jun 1 2004  1:33PM', '%b %d %Y %I:%M%p')
d1

datetime.datetime(2021, 4, 28, 13, 33)

In [111]:
# weekday 0=Senin, 1=Selasa, 2=Rabu, ... dst
d1.minute, d1.hour, d1.weekday(), d1.day, d1.month, d1.year

(33, 13, 2, 28, 4, 2021)

In [112]:
hari_ = {0:"Senin", 1:"Selasa", 2:"Rabu", 3:"Kamis", 4:"Jumat", 5:"Sabtu", 6:"Minggu"}
hari_[d1.weekday()]

'Rabu'

In [113]:
# Cara lain (Menggunakan module tambahan)
import calendar

calendar.day_name[d1.weekday()]

'Wednesday'

### Hari/Saat ini?

In [114]:
datetime.today().strftime('%Y-%m-%d ~ %H:%M:%S')

'2021-08-07 ~ 02:06:00'

### Operasi pada variabel datetime

In [115]:
# Mana yang lebih dahulu
d1 = datetime.strptime('Apr 28 2021  1:33PM', '%b %d %Y %I:%M%p')
d2 = datetime.strptime('Apr 27 2021  1:33PM', '%b %d %Y %I:%M%p')

d1<d2, d1>d2, d1==d2, d1<=d2

(False, True, False, False)

In [116]:
# Menjumlahkan waktu: Contoh kasus Google Map/Ojol
import datetime as dm # ==> hati-hati disini!!!...

d3 = d1 + dm.timedelta( days=1, seconds=10, microseconds=88, milliseconds=100, minutes=33, hours=8, weeks=9 ) # days, seconds, then other fields.
print(d1)
print(d3)

2021-04-28 13:33:00
2021-07-01 22:06:10.100088

### Konsekuensi dari DateTime ==> Sekarang kita bisa mengurutkan dengan benar

In [117]:
Waktu = [d3, d2, d1]
print(Waktu)
Waktu.sort() # Hati-hati ini "inplace"
print(Waktu)

[datetime.datetime(2021, 7, 1, 22, 6, 10, 100088), datetime.datetime(2021, 4, 27, 13, 33), datetime.datetime(2021, 4, 28, 13, 33)]
[datetime.datetime(2021, 4, 27, 13, 33), datetime.datetime(2021, 4, 28, 13, 33), datetime.datetime(2021, 7, 1, 22, 6, 10, 100088)]

### Datetime di Pandas

In [119]:
import pandas as pd

fileData = 'data/stock_data.csv'
df = pd.read_csv(fileData, error_bad_lines=False, low_memory = False)
print(df.shape)
df.head()

(3019, 7)

       Date   Open   High    Low  Close    Volume  Name
0  1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA
1  1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA
2  1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA
3  1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA
4  1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA

In [120]:
# Penting untuk cek Tipe Data Dataframe
# Perhatikan disini tipe data "Date" masih berupa string!!!....
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3019 entries, 0 to 3018
Data columns (total 7 columns):
Date      3019 non-null object
Open      3019 non-null float64
High      3019 non-null float64
Low       3019 non-null float64
Close     3019 non-null float64
Volume    3019 non-null int64
Name      3019 non-null object
dtypes: float64(4), int64(1), object(2)
memory usage: 165.2+ KB

In [121]:
# Perhatikan sekarang "Date" tidak lagi berupa variable, tapi merupakan index bagi dataframenya
df = pd.read_csv(fileData, parse_dates=True, index_col = "Date", error_bad_lines=False, low_memory = False)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3019 entries, 2006-01-03 to 2017-12-29
Data columns (total 6 columns):
Open      3019 non-null float64
High      3019 non-null float64
Low       3019 non-null float64
Close     3019 non-null float64
Volume    3019 non-null int64
Name      3019 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 165.1+ KB

In [122]:
df.head()

             Open   High    Low  Close    Volume  Name
Date
2006-01-03  39.69  41.22  38.79  40.91  24232729  AABA
2006-01-04  41.22  41.90  40.77  40.97  20553479  AABA
2006-01-05  40.93  41.73  40.85  41.53  12829610  AABA
2006-01-06  42.88  43.57  42.80  43.21  29422828  AABA
2006-01-09  43.10  43.66  42.82  43.42  16268338  AABA

In [123]:
# Karena kita gunakan waktu sebagai index, maka kita bisa mudah dalam melakukan "slice" ke data

df.loc['2009'].head()

             Open   High    Low  Close    Volume  Name
Date
2009-01-02  12.17  12.85  12.12  12.85  10213787  AABA
2009-01-05  12.72  13.01  12.39  12.86  12029058  AABA
2009-01-06  12.96  13.24  12.88  13.00  10173926  AABA
2009-01-07  12.71  13.16  12.45  12.71  25302285  AABA
2009-01-08  12.37  13.07  12.31  13.07  14348008  AABA

# Beberapa Tips Implementasi Python:

* Tidak harus pakai versi terkini
* Environment/Container is a great idea
* Make it work, and then make it fast (Numba/parallel/Cython)
*

# <center><font color="blue"> End of Module 02 - Pengenalan Python dan Jupyter Notebook

<hr />
<img alt="" src="images/meme-brace-yourself-workshop.jpg" />