# <center><font color="green"> https://bit.ly/ptpjb-2021-03</font>
# <center><font color="blue">03 - Exploratory Data Analysis (EDA) ~ Preprocessing</font>

<center><img alt="" src="images/cover_ptpjb_2021.png"/></center> 

## <center><font color="blue">tau-data Indonesia</font><br>(C) Taufik Sutanto - 2021</center>
<center><a href="https://tau-data.id">https://tau-data.id</a> ~ <a href="mailto:taufik@tau-data.id">taufik@tau-data.id</a></center>

# <center><font color="blue"> Outline Exploratory Data Analysis (EDA) ~ Preprocessing

* Pendahuluan Exploratory Data Analysis (EDA)
* Business & Data Understanding
* Loading/Import Data
    * CSV dan Excel 
    * Dictionary or List to Pandas Dataframe
    * Show data (head, tail, sample, transpose)
    * Data Types & Information
* Basic (Descriptive) Statistics & Why it is so important
* Preprocessing data
 * Detecting & Dealing with Duplicates
 * Detecting & Dealing with 1D outliers
 * Detecting & Dealing with Noise
 * Drop Row & Columns
* Missing Values
 * Exception with threshold
 * Basic Imputation
* Dealing with Categorical Data
 * Dummy Variables/One-hot-Encoding
* Writing Preprocessed Data
* Dealing with Time Data
    * With DateTime module
    * With Pandas

# <center><font color="blue">  Pendahuluan EDA

* EDA bagaikan jiwa bagi semua proses analisa data. Kemampuan untuk melakukan EDA dengan baik adalah syarat dasar utama bagi seluruh profesi yang terkait dengan pengolahan data, baik itu business intelligence, data analyst, data scientist, AI Engineer, dan sebagainya. 
* EDA juga menjadi tahapan awal dari kebanyakan proses analisa data dan menjadi suatu tahapan yang amat menentukan seberapa baik analisa data maupun pemodelan selanjutnya akan dihasilkan (prediksi/forecasting).
* Komponen EDA meliputi preprocessing, perhitungan berbagai nilai statistik dasar, visualisasi, penyusunan hipotesis (dugaan awal), pemeriksaan asumsi, hingga story-telling dan reporting. Di dalamnya juga termasuk proses penanganan missing values, outlier, reduksi dimensi, pengelompokkan, transformasi dan distribusi data.
* Tools: Python (Pandas), R, S-Plus, etc
    
<center><img alt="" src="images/edamethods.png" style="height: 300px;" /></center>

# <center><font color="blue">  Tahap Pertama dan Terpenting EDA adalah "Business & Data Understanding"

### <font color="green"> Dilakukan sebelum Data Preprocessing/Preparation.
    
* Apa tujuan Machine Learning/AI kita?
* Data apa yang tersedia?
* Seberapa banyak (dan lama) data tersedia?
* Ada yang memiliki label? (Variabel Target)
* Apakah data ini relevan? Atau bisa dibuat relevan?
* Bagaimana dengan kualitas data ini?
* Ada data tambahan (eksternal)?
* Siapa yang memahami tentang data ini dengan baik di perusahaan?
    
<center><img alt="" src="images/crisp-dm.jpg" style="height: 300px;" /></center>

# <center><font color="blue">Data Terstruktur & Tidak Terstruktur

<center><img alt="" src="images/tipeData_2.png" style="height: 400px;"/>

# <center><font color="blue">Data Terstruktur & Tidak Terstruktur

<center><img alt="" src="images/Tipe_Data_Stevens.png" style="height: 350px;"/>

# <center><font color="blue">  Data(set)

* Koleksi entitas/objek data dan atributnya
* Atribut adalah sifat atau karkteristik dari objek
* Contoh pada objek manusia: umur, berat badan, tinggi badan, jenis kelamin, dsb.
* Setiap atribut memiliki beberapa kemungkinan "state", sebagai contoh: pria/wanita.
* koleksi atribut mendefinisikan suatu objek.
    
<center><img alt="" src="images/Dataset.png" style="height: 300px;" /></center>

# <center><font color="blue">  Variabel target (dependent) dan prediktor (independent)

<img alt="" src="images/Dependent-Independent.png" style="height: 300px;" />
    
* **<u>Interdependence Methods</u>** (Unsupervised Learning): Model-model Machine Learning/statistika dimana tidak ada dugaan suatu variable dipengaruhi/memengaruhi variabel yang lain (tidak ada konsep target/prediktor).<br />
	Contoh: Analisis cluster (pengelompokan),&nbsp;principal component analysis&nbsp;(PCA)*.
* **<u>Dependence Methods</u>** (Supervised Learning): Model-model Machine Learning/Statistika dimana sebagian variabel diduga memengaruhi/dipengaruhi variabel yang lain.<br />
	Contoh: Regresi, klasifikasi&nbsp;(SVM/Decision Tree/neural network).
* Namun demikian akhir-akhir ini terdapat cukup banyak penelitian dimana domain permasalahannya terletak di antara keduanya (<u><a href="https://en.wikipedia.org/wiki/Semi-supervised_learning" target="_blank">Semi-</a></u><u><a href="https://en.wikipedia.org/wiki/Semi-supervised_learning" target="_blank">Supervised</a></u><u><a href="https://en.wikipedia.org/wiki/Semi-supervised_learning" target="_blank"> </a></u><u><a href="https://en.wikipedia.org/wiki/Semi-supervised_learning" target="_blank">Learning</a></u>.

# <center><font color="blue">  Data Cleaning, Cleansing, Munging, Wrangling?

<img alt="" src="images/data cleaning ceansing wrangling munging preprocessing preparation _.png" style="height: 300px;" />
    
* Cleaning dan cleansing sebenarnya menurut standar formal berbeda: https://indica.nl/blog/2021/3/16/what-is-the-difference-between-data-cleansing-and-data-cleaning namun dalam keseharian bisa digunakan satu-sama-lain (hati-hati kalau dalam kontrak bisnis formal).
* Banyaknya istilahnya "membingungkan", biasanya lebih "aman"/umum menggunakan terminology **data preprocessing**

# <center><font color="blue"> Mengapa perlu preprocessing?
## <font color="green"> Garbage in-Garbage out

* Data di dunia nyata biasanya tidak sebersih/indah data di buku akademik.
  - Noise: Misal gaji bernilai negatif
  - Ouliers: Misal seseorang dengan penghasilan >500 juta/bulan.
  - Duplikasi: Banyak di media sosial
  - Encodings, dsb: Banyak di Big Data, karena masalah bagaimana data disimpan/join.
* Tidak lengkap: hanya agregat, kurang variabel penting, dsb.
* Analisa pada data yang tidak di preprocess biasanya menghasilkan insight yang tidak/kurang tepat atau model yang tidak memiliki performa yang baik.
    
<img alt="" src="images/data_preprocessing_01.png" style="height: 300px;" />

<img alt="" src="images/data_preprocessing_02.jpg" style="height: 600px;" />

In [ ]:
pandas_dtypes.png

## Print to File in Python

In [95]:
f = open("Output_Python.txt","w") # W = write new file, a='append existing file, new file if file does not exist'
print("ini output pertama", file=f)
f.close() # kalau tidak di close, maka bagaikan file Doc yg sedang dibuka microsoft word
# lihat di folder "notebook" akan ada file baru dengan nama file yg ditetapkan diatas
# Perhatikan perintah ini tidak mengeluarkan output langsung di notebook/terminal (silenced)

In [96]:
f = open("Output_Python.txt","w") # W = write new file, a='append existing file, new file if file does not exist'
print("ini output pertama lagi karena opennya pakai 'w'", file=f)
f.close()

In [97]:
f = open("Output_Python.txt","a") # W = write new file, a='append existing file, new file if file does not exist'
print("ini baru output kedua karena opennya pakai 'a'", file=f)
f.close() 
# Jangan lupa utk mengingat "print" by default akan ganti baris, sehingga di akhir setiap print tidak perlu penambahan "\n"

Bagaimana cara menulis file CSV?
- CSV sebenarnya hanya file teks yg dipisahkan dengan koma
- TAPI hindari menulis ke file CSV dengan cara print diatas
kenapa?

In [98]:
A = [2,3,4,5,6]
print(str(A)[1:-1])

2, 3, 4, 5, 6

In [99]:
Data = [ (2,56), (1,32), (5,40), (1,37), (4,40) ]

f = open("Output_Python.csv","w") 
print('Jumlah Anak, Umur', file=f)
for d in Data:
    print(str(d)[1:-1], file=f)
f.close()

In [101]:
Data = [ ('@udin32','keren banget konsernya cuy!'), ('@kiraAlways','dia bilang "sa bodo", gitu katanya!'), ('@rina23','capek deeehhh...')]

f = open("Output_Python.csv","w") 
print('username, Tweet', file=f)
for d in Data:
    print(str(d)[1:-1], file=f)
f.close()

#### Solusi

In [102]:
!pip install csv

Collecting csv

  Could not find a version that satisfies the requirement csv (from versions: )
No matching distribution found for csv

In [ ]:
GANTI dengan PANDAS!!!

In [103]:
import csv

f = open("Output_Python.csv","w", newline='') # encoding='utf-8'
f.write('Username, Tweet\n')
writer = csv.writer(f)
for d in Data:
    writer.writerow(d)
f.close()

## Pointer to Reference

In [104]:
# Hati-hati dengan copy of reference (Pointer to Variabel) yg implisit di Python
A =[2,3,4]
B = A
A.append(7) # Kita tidak melakukan apa-apa ke B
print('A = ', A)
print('B = ', B)

A =  [2, 3, 4, 7]
B =  [2, 3, 4, 7]

In [105]:
A =[2,3,4]
B = A.copy() # ini yang mirip dgn bahasa pemrograman lain B=A
A.append(7)
print('A = ', A)
print('B = ', B)

A =  [2, 3, 4, 7]
B =  [2, 3, 4]

## DS sering memuat data dengan informasi waktu
Media Sosial, log, artikel website, sensor, etc

In [109]:
# Variabel Date-Time
from datetime import datetime
# %a %b %d %l %m %M %z %Y https://www.foragoodstrftime.com/
d1 = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
d2 = datetime.strptime('Jun 1 2004  1:33PM', '%b %d %Y %I:%M%p')
print(d1.day, d2.month, d1>d2)

1 6 True

In [110]:
# Rubah Teks ke DateTime Format 
from datetime import datetime
# %a %b %d %l %m %M %z %Y https://www.foragoodstrftime.com/
d1 = datetime.strptime('Apr 28 2021  1:33PM', '%b %d %Y %I:%M%p')
d2 = datetime.strptime('Jun 1 2004  1:33PM', '%b %d %Y %I:%M%p')
d1

datetime.datetime(2021, 4, 28, 13, 33)

In [111]:
# weekday 0=Senin, 1=Selasa, 2=Rabu, ... dst
d1.minute, d1.hour, d1.weekday(), d1.day, d1.month, d1.year

(33, 13, 2, 28, 4, 2021)

In [112]:
hari_ = {0:"Senin", 1:"Selasa", 2:"Rabu", 3:"Kamis", 4:"Jumat", 5:"Sabtu", 6:"Minggu"}
hari_[d1.weekday()]

'Rabu'

In [113]:
# Cara lain (Menggunakan module tambahan)
import calendar

calendar.day_name[d1.weekday()]

'Wednesday'

### Hari/Saat ini?

In [114]:
datetime.today().strftime('%Y-%m-%d ~ %H:%M:%S')

'2021-08-07 ~ 02:06:00'

### Operasi pada variabel datetime

In [115]:
# Mana yang lebih dahulu
d1 = datetime.strptime('Apr 28 2021  1:33PM', '%b %d %Y %I:%M%p')
d2 = datetime.strptime('Apr 27 2021  1:33PM', '%b %d %Y %I:%M%p')

d1<d2, d1>d2, d1==d2, d1<=d2

(False, True, False, False)

In [116]:
# Menjumlahkan waktu: Contoh kasus Google Map/Ojol
import datetime as dm # ==> hati-hati disini!!!...

d3 = d1 + dm.timedelta( days=1, seconds=10, microseconds=88, milliseconds=100, minutes=33, hours=8, weeks=9 ) # days, seconds, then other fields.
print(d1)
print(d3)

2021-04-28 13:33:00
2021-07-01 22:06:10.100088

### Konsekuensi dari DateTime ==> Sekarang kita bisa mengurutkan dengan benar

In [117]:
Waktu = [d3, d2, d1]
print(Waktu)
Waktu.sort() # Hati-hati ini "inplace"
print(Waktu)

[datetime.datetime(2021, 7, 1, 22, 6, 10, 100088), datetime.datetime(2021, 4, 27, 13, 33), datetime.datetime(2021, 4, 28, 13, 33)]
[datetime.datetime(2021, 4, 27, 13, 33), datetime.datetime(2021, 4, 28, 13, 33), datetime.datetime(2021, 7, 1, 22, 6, 10, 100088)]

### Datetime di Pandas

In [119]:
import pandas as pd

fileData = 'data/stock_data.csv'
df = pd.read_csv(fileData, error_bad_lines=False, low_memory = False)
print(df.shape)
df.head()

(3019, 7)

       Date   Open   High    Low  Close    Volume  Name
0  1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA
1  1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA
2  1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA
3  1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA
4  1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA

In [120]:
# Penting untuk cek Tipe Data Dataframe
# Perhatikan disini tipe data "Date" masih berupa string!!!....
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3019 entries, 0 to 3018
Data columns (total 7 columns):
Date      3019 non-null object
Open      3019 non-null float64
High      3019 non-null float64
Low       3019 non-null float64
Close     3019 non-null float64
Volume    3019 non-null int64
Name      3019 non-null object
dtypes: float64(4), int64(1), object(2)
memory usage: 165.2+ KB

In [121]:
# Perhatikan sekarang "Date" tidak lagi berupa variable, tapi merupakan index bagi dataframenya
df = pd.read_csv(fileData, parse_dates=True, index_col = "Date", error_bad_lines=False, low_memory = False)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3019 entries, 2006-01-03 to 2017-12-29
Data columns (total 6 columns):
Open      3019 non-null float64
High      3019 non-null float64
Low       3019 non-null float64
Close     3019 non-null float64
Volume    3019 non-null int64
Name      3019 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 165.1+ KB

In [122]:
df.head()

             Open   High    Low  Close    Volume  Name
Date
2006-01-03  39.69  41.22  38.79  40.91  24232729  AABA
2006-01-04  41.22  41.90  40.77  40.97  20553479  AABA
2006-01-05  40.93  41.73  40.85  41.53  12829610  AABA
2006-01-06  42.88  43.57  42.80  43.21  29422828  AABA
2006-01-09  43.10  43.66  42.82  43.42  16268338  AABA

In [123]:
# Karena kita gunakan waktu sebagai index, maka kita bisa mudah dalam melakukan "slice" ke data

df.loc['2009'].head()

             Open   High    Low  Close    Volume  Name
Date
2009-01-02  12.17  12.85  12.12  12.85  10213787  AABA
2009-01-05  12.72  13.01  12.39  12.86  12029058  AABA
2009-01-06  12.96  13.24  12.88  13.00  10173926  AABA
2009-01-07  12.71  13.16  12.45  12.71  25302285  AABA
2009-01-08  12.37  13.07  12.31  13.07  14348008  AABA

# <center><font color="blue"> Akhir Modul 03 - Exploratory Data Analysis ~ Preprocessing

<hr />
<img alt="" src="images/meme-cartoon/6_ML_Class.jpg" style="height: 400px;"/>